{% extends "admin_panel.html" %}
{% block content %}
Hiasddddddddddddddddddddddddddddddddddddddddddddddddddd
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px; display: none;">
          <a class="btn-floating btn-large red">
            <i class="large mdi-editor-mode-edit"></i>
          </a>
          <ul>
            <li><a class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-insert-chart"></i></a></li>
            <li><a class="btn-floating yellow darken-1" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-format-quote"></i></a></li>
            <li><a class="btn-floating green" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-publish"></i></a></li>
            <li><a class="btn-floating blue" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;"><i class="large mdi-editor-attach-file"></i></a></li>
          </ul>
        </div>
{% endblock %}