{% extends "admin_panel.html" %}
{% load custom_filters %}
{% block content %}
<table class="hoverable centered">
    <thead>
        <tr>
            <th data-field="studen-name">Student Name</th>
            <th data-field="student-code">Student Code</th>
            <th data-field="no">No. of Attendances</th>
            <th data-field="check">Check</th>
        </tr>
    </thead>
    {% for m in member %}
        <tr>
            <td>{{ m.user.first_name }} {{ m.user.last_name }}</td>
            <td>{{ m.user|get_member_code }}</td>
            <td><input type="number" min="1" value="1" class="number-input"></td>
            <td><form action="#" >
                      <input type="checkbox" id="st_{{ m.user.id }}"/>
                      <label for="st_{{ m.user.id }}"></label>
                  </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}