{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Mess Manager</h1>
        <div class="row center">
          <h5 class="header col s12 light"><span class="teal-text text-accent-1">A modern software to manage mess system.</span></h5>
        </div>
        <div class="row center">
          <a href="#modal1" id="download-button" class="modal-trigger btn btn-large waves-effect waves-light teal lighten-1">Sign In &nbsp;<span class="mdi-communication-vpn-key"></span></a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/background1.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-image-flash-on"></i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/background3.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/background2.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>


  <div id="modal1" class="modal radius">
          <div class="model-header teal darken-3"><span class="teal-text text-accent-1">Sign In</span></div>
          <div class="signin-contents">


            <form method="post" action="" style="width: 80%; margin-top: 20px; margin-left: auto; margin-right: auto;">
                <div class="input-field col">
                <i class="mdi-action-account-circle prefix"></i>
                {{ signin_formset.username_login }}
                <label for="id_username_login">Username</label>
                </div>
                <div class="input-field col">
                <i class="mdi-communication-vpn-key prefix"></i>
                {{ signin_formset.password_login }}
                <label for="id_password_login">Password</label>
                </div>
                <div style=" margin-top: 20px; margin-left: 8%;">
                <button class="btn waves-effect waves-light" type="submit" name="action" style="border-radius: 10px;">Sign In
                  <i class="mdi-content-send right"></i>
                </button>
                 <a style="float: right;" class="waves-effect waves-light">Forgot Password?</a>
                </div>
            </form>
          </div>
          <div id="no_account"><span class="mdi-alert-error  teal-text text-darken-3">&nbsp;&nbsp; Do not have account?</span>
            &nbsp;&nbsp;<a href="/signup" class="waves-effect waves-light">Sign Up</a>
          </div>
        </div>
    {% if success and success != '' %}
    <script type="text/javascript">
            Materialize.toast('{{ success }}', 1000, 'rounded')

    </script>
 {% endif %}
{% endblock %}