{% extends "base.html" %}
{% block content %}
    {% if form.error %}
        <p class="error" >Sorry, Incorrect user name and password.</p>
    {% endif %}
    {% if invalid_login %}
        <p style="color:red;">Sorry your login deails are not correct</p>
    {% endif %}
    <form action="/accounts/auth" method="post">{% csrf_token %}
        <label for="username">Usrname:</label>
        <input type="text" name="username" placeholder="Enter Username" id="username" />
        <label for="password">Password:</label>
        <input type="password" name="username" placeholder="Enter Password" id="username" />
        <input type="submit" value="login">

    </form>
{% endblock %}
