<!DOCTYPE html>
<html lang="en">
<head>{% load staticfiles %}
<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing-page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'font/css/font-awesome.min.css' %}" />
    <link rel="shortcut icon" href="{% load static %}{% get_static_prefix as STATIC_PREFIX %}{{ STATIC_PREFIX }}img/favicon.ico" type="image/ico">

    <title>{% block title %}Mess Manager{% endblock %}</title>

</head>
<body data-twttr-rendered="True">
<header>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<div class="navbar-fixed">
  <nav class="teal darken-3" role="navigation">
    <div class="nav-wrapper" id="nav-bar-wrap">
      <ul class="right hide-on-med-and-down" id="top-nav">
          <!-- Dropdown Trigger -->
          {% if user.is_authenticated %}
          <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown1">
              <span class="teal-text text-accent-1">{{ user.first_name }}</span>
              <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          {% else %}
              <li><a href="/signin/"><span class="teal-text text-accent-1">Sign In</span></a></li>
          {% endif %}
      </ul>
        <ul class="right show-on-medium-and-down">
         {% if user.is_authenticated %}
            <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown1">
              <span class="teal-text text-accent-1">{{ user.first_name }}</span>
              <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          {% else %}
              <li><a href="/signin/"><span class="teal-text text-accent-1">Sign In</span></a></li>
          {% endif %}
        </ul>

        <div><a id="logo-container-admin" href="/" class="brand-logo center"><span class="teal-text text-accent-1">Mess Manager</span></a></div>
        <ul id="nav-mobile" class="side-nav fixed teal darken-3">
        <li><a href="/" class="waves-effect waves-teal">Home</a></li>
        <li><a href="#" class="waves-effect waves-teal">Page2</a></li>
        <li><a href="#" class="waves-effect waves-teal">Page3</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
</header>
<div class="row">
<div class="col s12 m12 l10 offset-l2" style="border: 1px solid black;">
{% block content %}

{% endblock %}
</div>
</div>
</body>

</html>