{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>{% load staticfiles %}
<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing-page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'font/css/font-awesome.min.css' %}" />
    <link rel="shortcut icon" href="{% load static %}{% get_static_prefix as STATIC_PREFIX %}{{ STATIC_PREFIX }}img/favicon.ico" type="image/ico">

    <title>{% block title %}Mess Manager{% endblock %}</title>

</head>
<body data-twttr-rendered="True">
<header>
<div class="navbar-fixed">
  <nav class="teal darken-3" role="navigation">
    <div class="nav-wrapper" id="nav-bar-wrap">
      <ul class="right">
          {% if user.is_authenticated %}
          <li class="login-div-class"><a href="#!" onClick="show_login_div(this, 2);" class="btn-floating profile-view-btn login-div-class">
              <img src="{% static 'img/no-prfile-pic.jpg' %}" alt="" class="circle responsive-img profile-pic-thumbnail login-div-class"></a></li>
          {% else %}
              <li><a href="/signin/"><span class="teal-text text-accent-1">Sign In</span></a></li>
          {% endif %}
      </ul>

        <div><a id="logo-container-admin" href="/" class="brand-logo center"><span class="teal-text text-accent-1">Django Practice</span></a></div>
        <ul id="nav-mobile" class="side-nav fixed teal darken-3">
        <li><a href="/" class="waves-effect waves-teal"><span class=" medium mdi-action-home"></span>&nbsp;&nbsp;Home</a></li>
        {% with user|get_navigation as sub_navigations %}
		  {% for sub_menu in sub_navigations %}
            <li><a href="#" class="waves-effect waves-teal">{{ sub_menu.name }}</a></li>
		    {% endfor %}
        {%endwith%}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
</header>
<div class="row">
<div class="col s12 m12 l10 offset-l2" style="border: 1px solid black;">
<div class="login_info round_corners card teal lighten-5 login-div-class" id="login_info_div" style="position:absolute">
	<div class="card-content login-div-class" id="card-content-login-div">
              <div id="card-content-login-div-1" class="login-div-class">
                  <table id="login_div_table" class="login-div-class">
                      <tr class="login-div-class">
                          <td style="padding: 0px;" class="login-div-class"><img id="drop-down-img" src="{% static 'img/no-prfile-pic.jpg' %}"
                                                                     alt="" class="responsive-img login-div-class"></td>
                          <td class="login-div-class"><span class="card-title teal-text text-darken-4 login-div-class">{{ user.first_name }}&nbsp;{{ user.last_name }}</span></td>
                      </tr>
                  </table>
              </div>
            </div>
            <div class="card-action login-div-class" style="padding: 1px 5px 1px 10px;" id="login_div_logout">
              <a class="login-div-class" href="#"><span class="teal-text text-accent-4 login-div-class">Profile&nbsp;<i class="mdi-action-perm-identity login-div-class"></i></span></a>
              <a class="login-div-class" style="margin-left: 70px;" href="/logout">Logout&nbsp;<i class="mdi-action-exit-to-app login-div-class"></i></a>
            </div>
</div>
{% block content %}

{% endblock %}
</div>
</div>
</body>

</html>