<!DOCTYPE html>
<html lang="en">
<head>{% load staticfiles %}
<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing-page.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'font/css/font-awesome.min.css' %}" />
    <link rel="shortcut icon" href="{% load static %}{% get_static_prefix as STATIC_PREFIX %}{{ STATIC_PREFIX }}img/favicon.ico" type="image/ico">

    <title>{% block title %}Mess Manager{% endblock %}</title>


</head>
<body>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<div class="navbar-fixed">
  <nav class="teal darken-3" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo center"><span class="teal-text text-accent-1">Mess Manager</span></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#"><span class="teal-text text-accent-1">Page1</span></a></li>
        <li><a href="#"><span class="teal-text text-accent-1">Page2</span></a></li>
        <li><a href="#"><span class="teal-text text-accent-1">Page3</span></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
          <!-- Dropdown Trigger -->
          {% if user.is_authenticated %}
          <li><a href="/admin_panel"><span class="teal-text text-accent-1">Dashboard</span></a></li>
          <li><a class="dropdown-button" data-beloworigin="true" href="#!" data-activates="dropdown1">
              <span class="teal-text text-accent-1">{{ user.first_name }}</span>
              <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
          {% else %}
              <li><a href="/signin/"><span class="teal-text text-accent-1">Sign In</span></a></li>
          {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Page1</a></li>
        <li><a href="#">Page2</a></li>
        <li><a href="#">Page3</a></li>
        <li class="divider"></li>
        {% if user.is_authenticated %}
            <li><a href="#">{{ user.first_name }}</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
              <li><a href="/signin/">Sign In</a></li>
          {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
{% block content %}
{% endblock %}


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">This is just a practice application with Django.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">M Hassan Siddiqui</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->


  </body>

</html>