<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{% block title %}My Polls{% endblock %}</title>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'messManager/style.css' %}" />
</head>

<body>
    <a href="/sendemail/">Send Email</a>
    {% block headebar %}
    <div id="head" style="min-height:100px; width:100%; background-color:#225aae;">
        <div id="logo_sec"><img id="logo" src="{% static 'polls/images/logo.png' %}"/></div>
    </div>
    {% endblock %}
    {% block nav_bar %}
    <div id="head" style="min-height:30px; width:100%; background-color:#9dbceb; color: white;font-size: 18pt;">
        <a href="/polls">Home</a> | <a href="/admin">Admin</a> | About Us</div>
    {% endblock %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>