/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.signin-contents{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.radius{
  border-radius: 10px;
  height: 55%;
  overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.model-header{
  padding: 10px 10px 10px 10px;
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
  font-weight: bold;
}

#no_account{
  width: 80%;
  margin: 30px auto auto 8%;
  padding-left: 8%;
}

.errorlist{
  color: red;
  font-size: 9pt;
  margin-left: 10%;
}
.profile-pic-thumbnail{
  height: 35px;
  width: 35px;
}

.login_info { width: 300px;
		height:150px;
		border: thin solid #CCCCCC;
		display:block;
		background-color:#FFF;
		overflow:visible;
		z-index:99999;
		}
     .login_info:after{ /*arrow added to uparrowdiv DIV*/
		content:'';
		display:block;
		position:absolute;
		top:-20px; /*should be set to -border-width x 2 */
		left:270px;
		width:0;
		height:0;
		border-color: transparent transparent #FFFFFF transparent; /*border color should be same as div div background color*/
		border-style: solid;
		border-width: 10px;
		overflow:visible;

		}
		.round_corners{
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		}
		.round_corners_up{
		-webkit-border-radius: 15px 15px 0px 0px;
		-moz-border-radius: 15px 15px 0px 0px;
		border-radius: 15px 15px 0px 0px;
		}
		.round_corners_bottom{
		-webkit-border-radius: 0px 0px 15px 15px;
		-moz-border-radius: 0px 0px 15px 15px
		;border-radius: 0px 0px 15px 15px;
		}

     .profile-view-btn{
       border-radius: 50px;
       margin-right: 13px;
       width: 35px;
       height: 35px;
     }
     #drop-down-img{
        height: 60px;
     }
     select {
        display: block;
     }
     .signup-form{
         margin: 10px 10% 10px 10%;
         width: 80%;
     }
     .help-text{
         font-size: 9pt;
         color: gray;
     }
     .number-input{
         width: 60px !important;
     }